<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1">
    <title>Logisticas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form action="#" th:action="@{/addLogistica}" th:object="${logistica}" method="post">
		
		
		
      <input type="hidden" th:field="*{id}" class="form-control">
      <input type="hidden" th:field="*{numeroGuia}" class="form-control">
      <div class="form-group">
        <label for="exampleFormControlInput1">Cliente</label>
        <select th:field="*{cliente}" class="form-control" required>
          <option th:each="cli : ${clientes}" th:value="${cli.id}" th:text="${cli.nombres}+' '+${cli.apellidos}"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Producto</label>
        <select th:field="*{producto}" class="form-control" required>
          <option th:each="pro : ${productos}" th:value="${pro.id}" th:text="${pro.nombre}"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Bodega</label>
        <select th:field="*{bodega}" class="form-control" required>
          <option th:each="bog : ${bodegas}" th:value="${bog.id}" th:text="${bog.nombre}"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Cantidad Producto</label>
        <input type="number" class="form-control" th:field="*{cantidadPructo}" required>
      </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1"># flota o placa</label>
        <input type="text" class="form-control" th:field="*{numeroFlota}" required>
        <span class="badge badge-danger" th:text="${mensaje} ?: ''" />
      </div>
      
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Fecha de registro</label>
        <input type="date" class="form-control" th:field="*{fechaRegistro}" required>
      </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Fecha de entrega</label>
        <input type="date" class="form-control" th:field="*{fechaEntrega}" required>
      </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Precio de envio</label>
        <input type="number" class="form-control" th:field="*{precioEnvio}" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Tipo de logistica</label>
        <select th:field="*{tipoLogistica}" class="form-control" required>
          <option th:value="'Maritima'" th:text="Maritima"></option>
          <option th:value="'Terrestre'" th:text="Terrestre"></option>
        </select>
      </div>      
      <button type="submit" class="btn btn-primary">OK</button>
      <a class="btn btn-warning" href="../mostrarLogisticas" role="button">Volver</a>
    </form>
  </body>
</html>