<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" th:href="@{/}">INGENEO</a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="mostrarClientes">CLIENTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mostrarProductos}">PRODUCTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mostrarBodegas}">BODEGAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mostrarLogisticas}">LOGISTICA</a>
        </li>
      </ul>
    </nav>
    <div class="container mt-4">
      <a class="btn btn-primary" th:href="crearCliente">Nuevo</a>
      <br>
      <br>
      <h3>LISTA DE CLIENTES</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">Telefono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.cedula}"></td>
            <td th:text="${cliente.nombres}"></td>
            <td th:text="${cliente.apellidos}"></td>
            <td th:text="${cliente.genero}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td>
              <a class="btn btn-primary" th:href="@{/editarCliente/{id}(id=${cliente.id})}">Editar</a>
              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${cliente.id})}">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>