<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bodegas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h2>LISTA DE BODEGAS</h2>
    <br>
    <a class="btn btn-primary" th:href="crearBodega">Crear Bodega</a>
    <a class="btn btn-warning" href="../index.html">Inicio</a>
    <br>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Tipo de bodega</th>
          <th scope="col">Territorio</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="bod : ${bodegas}">
          <td th:text="${bod.id}"></td>
          <td th:text="${bod.nombre}"></td>
          <td th:text="${bod.telefono}"></td>
          <td th:text="${bod.ubicacion}"></td>
          <td th:text="${bod.tipoBodega}"></td>
          <td th:text="${bod.territorio}"></td>
          <td>
            <a class="btn btn-primary" th:href="@{/editarBodega/{id}(id=${bod.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/deleteBodega/{id}(id=${bod.id})}">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>